Makefile
Makefile.in
INSTALL
aclocal.m4
autom4te.cache
config.guess
config.h
config.h.in*
config.log
config.status
config.sub
configure
compile
depcomp
gnome-doc-utils.make
install-sh
intltool-extract
intltool-extract.in
intltool-merge
intltool-merge.in
intltool-update
intltool-update.in
libtool
ltmain.sh
missing
mkinstalldirs
omf.make
*.tar.gz
stamp-h1
xmldocs.make
.svn
NEWS.new
packagekit-gnome.pc
gtk-doc.make
py-compile
*.patch
m4
ChangeLog
test-driver
