Makefile
Makefile.in
*.schemas
*.glade.bak
*.gladep
*.gladep.bak
*.valid
org.freedesktop.PackageKit.service
gpk-application.desktop
gpk-install-catalog.desktop
gpk-install-file.desktop
gpk-log.desktop
gpk-prefs.desktop
gpk-service-pack.desktop
gpk-update-icon.desktop
gpk-update-viewer.desktop

