Makefile.in
Makefile.libs
.libs
*.bak
*.txt
*.gcno
*.out
tmpl
xml
html
html-build.stamp
html.stamp
gnome-packagekit-docs.xml
gnome-packagekit.args
gnome-packagekit.hierarchy
gnome-packagekit.interfaces
gnome-packagekit.prerequisites
gnome-packagekit.signals
gnome-packagekit.types
scan-build.stamp
sgml-build.stamp
sgml.stamp
tmpl-build.stamp
tmpl.stamp
version.xml

