Makefile
Makefile.in
*.o
.deps
gpk-marshal.c
gpk-marshal.h
gpk-self-test
gpk-repo
gpk-application
gpk-update-icon
gpk-install-file
gpk-install-package
gpk-prefs
gpk-update-viewer
gpk-backend-status
gpk-transaction-viewer
.svn

