Makefile
Makefile.in
*.o
*.la
*.lo
*.loT
*.gcov
*.gcda
*.gcno
*.out
.deps
.libs
gpk-marshal.c
gpk-marshal.h
gpk-interface.h
gpk-repo
gpk-application
gpk-update-icon
gpk-install-local-file
gpk-install-package-name
gpk-install-mime-type
gpk-install-provide-file
gpk-install-catalog
gpk-prefs
gpk-update-viewer
gpk-backend-status
gpk-self-test
gpk-service-pack
gpk-log
.svn

