Makefile
Makefile.in
*.o
.deps
pk-marshal.c
pk-marshal.h
pk-self-test
pk-repo
pk-application
pk-update-icon
pk-install-file
pk-install-package
pk-prefs
pk-update-viewer
pk-backend-status
pk-transaction-viewer
.svn

